body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f9;
  overflow-y: auto; /* Consente lo scrolling verticale */
}

.wrapper {
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input, button {
  padding: 10px 15px;
  margin: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.3s ease;
  text-align: center;
}

input:focus, button:hover {
  border-color: #007BFF;
  outline: none;
  background-color: #f0f8ff;
}

button {
  cursor: pointer;
  background-color: #007BFF;
  color: white;
  border: none;
}

button:active {
  background-color: #0056b3;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
  overflow-y: auto; /* Consente lo scroll verticale */
  max-height: 70vh; /* Limita l'altezza massima per attivare lo scroll */
}

.item {
  background-color: #4CAF50;
  color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.item:hover {
  background-color: #45a049;
  transform: translateY(-5px);
}
