h1 {
  color: red;
  font-size: 50px;
}

.verde,
#id3 {
  color: green;
}

h1 {
  color: violet;
}

.rosa {
  color: pink;
}

p {
  color: chocolate;
}

.rosa .rosa {
  color: pink;
}

.giallo {
  color: yellow;
}

/* con > solo quelli derivati sottostanti diretti
senza > tutti gli elementi */
#ciao > p {
  color: red;
}

#id3 {
  color: #2019ac;
  color: rgb(0, 0, 240);
  color: white;
}

#id3 {
  color: hsla(
    120,
    100%,
    50%,
    0.5
  ); /* colore girando attorno al cilindro dominanza riminanza */
}

#uno,
#due {
  width: 200px;
  height: 200px;
  margin: 30px;
}

#uno {
  background-color: hsl(
    0,
    100%,
    52%
  ); /* colore girando attorno al cilindro dominanza riminanza */
}

#due {
  background-color: hsl(
    120,
    100%,
    52%
  ); /* colore girando attorno al cilindro dominanza riminanza */
}
